a.active {
    font-weight: bold;}
/* Bolder vs Bold interesting looks same*/

body {
  background-color: #E6EBE4;
  color: #000000;
  font-family: "SF Pro Display";
  line-height: 1.5;
}

.links {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style: none;}

.links a {
  text-decoration: none;
  color: #6B8E5A;
  font-size: 25px;
}

.links a:hover {color: #41708A;}

/* Googles AI overview when I searched up, "hex color for earth blue" gave #41708A so I use. */